<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style ng algo.css">
    <title>Lab 1 - Search Algorithm</title>
</head>
<body>

    <section class="array">

        <a href="{{ url_for('small_array')}}">
            <button class="small">Small Array</button> 
        </a>

        <a href="{{ url_for('medium_array')}}">
            <button class="medium">Medium Array</button> 
        </a>

        <a href="{{ url_for('large_array')}}">
            <button class="large">Large Array</button> 
        </a>
        
    </section>

</body>
</html>
