<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style ng algo.css">
    <title>Lab 1- Search Algorithm</title>
</head>
<body>

    <section class="array">

        <a href="https://github.com/ardy-dl/Group1_SearchAlgo?fbclid=IwAR3EkFhLEkdMJ4hwGR1FhvmmS-xuqAF3gGF9JSU3uvcKJz7M4mlwbNVMWhI">
            <button class="small">Small Array</button> 
        </a>

        <a href="https://github.com/ardy-dl/Group1_SearchAlgo?fbclid=IwAR3EkFhLEkdMJ4hwGR1FhvmmS-xuqAF3gGF9JSU3uvcKJz7M4mlwbNVMWhI">
            <button class="medium">Medium Array</button> 
        </a>

        <a href="https://github.com/ardy-dl/Group1_SearchAlgo?fbclid=IwAR3EkFhLEkdMJ4hwGR1FhvmmS-xuqAF3gGF9JSU3uvcKJz7M4mlwbNVMWhI">
            <button class="large">Large Array</button> 
        </a>
    </section>

</body>
</html>
